
.my-projects {
    margin: 0em 8em 10em 8em;
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 2em;
}

.proj-line {
    margin: 0;
    background:#323B3C;
    height: 0.3em;
    align-self: center;
    width: 26em;
}

.projects-title {
    padding: 1em;
}


.portfolio {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
  
.portfolio__item {
    overflow: hidden;
    border-radius: 20px;
}
  
.portfolio__img {
    transition: transform 650ms cubic-bezier(0.5, 0, 0.5, 1), opacity 260ms linear;
    margin: 0;
}
  
.portfolio__item:focus {
    position: relative;
    z-index: 2;
}
  
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.1);
    opacity: 0.5;
}